.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.add-todo .card-body {
  display: none;
}

.todo-addheading {
  cursor: pointer;
  user-select: none;
}

.todo-list {
  font-size: 1.1em;
}

.todo-list .todo-item {
  border-bottom: 1px dotted gray;
}

.todo-list .todo-item:last-child {
  border-bottom: none;
}

.todo-list .todo-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.todo-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.todo-list .todo-date {
  font-style: italic;
}


.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}

.bodycontainer{
  width: 600px;
  margin: auto;
}

.divider-top{
  border-top: 2px solid #000000;
}
